@model SajaloZindagi.Models.Admin

<!DOCTYPE html>

<html>
<head>
    @Html.Partial("Docs")
    <link href="~/css/signin.css" rel="stylesheet" />
</head>
<body class="text-center">
    
        
    
    <form class="form-signin" action="\Admin\login" method="post">
        @if (ViewBag.error > 0)
        {
            if (ViewBag.error == 2)
            {
                <div class="alert alert-danger">
                    <strong>Something Went Wrong!!(Error)</strong>
                </div>
            }
            else if (ViewBag.error == 3)
            {
                <div class="alert alert-danger">
                    <strong>Invalid Credidentials</strong>
                </div>
            }

        }
        <img class="mb-4" src="~/img/loginAdmin.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">UserName</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="User Name" required="" autofocus="" name="AUname">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="APassword">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>
    @Html.Partial("Jquery")

</body>
</html>
